<div class="p-6 bg-gray-100 dark:bg-gray-800 rounded-lg shadow-md mb-8">
  <h1 class="text-2xl font-bold mb-4 dark:text-gray-200">Problem Statement</h1>
  <p class="text-gray-700 dark:text-gray-300">
    Create an application with the following functionality:
  </p>
  <ul class="list-disc list-inside text-gray-700 dark:text-gray-300 mt-4">
    <li>Input fields should be Start Point and End Point.</li>
    <li>Design should have the first three characters of starting point and ending point.</li>
    <li>
      Functionality:
      <ul class="list-disc list-inside ml-6">
        <li>
          If it’s a continued trip (Eg. Bangalore to Chennai, Chennai to Ooty) then the straight line should be on level 1.
        </li>
        <li>
          If it’s not a continued trip (Eg. Bangalore to Chennai, Ooty to Bangalore) then the straight line should have an arrow and be on level 1.
        </li>
        <li>
          If consecutive trips have the same pickup and drop location then those to be in Level 2.
        </li>
        <li>
          Any number of trips can be added and design should respond accordingly to adjust within the defined dimension.
        </li>
      </ul>
    </li>
  </ul>
</div>